@import "variables";
@import "fonts";

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: transparent;
  height: 100%;
  overflow-y: auto;
  //@keyframes fadeInAnimation {
  //  0% {
  //    opacity: 0;
  //  }
  //  100% {
  //    opacity: 1;
  //  }
  //}
  ////animation: fadeInAnimation ease 3s;
  ////animation-iteration-count: 1;
  ////animation-fill-mode: forwards;
  ////animation: fadeInAnimation 3s linear infinite;
  //animation: fadeInAnimation 3s linear infinite;
}

html {
  font-size: 62.5%;
  background-color: #ffffff;
  //font-family: Arial;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fullWidth {
  width: 100%;
}

.transit04 {
  transition: all 0.3s ease;
}

.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.noWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearBlock {
  clear: both;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
}

#main {
  max-width: 1920px;
  margin: 0 auto;
}

.rd_head {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  //max-width: 1920px;
  .rd_head__content {
    .rd_head__content_title {
      margin-bottom: 60px;
      line-height: 1.25;
      color: #ffffff;
      text-align: center;
      font-family: 'Open Sans', sans-serif;

      .rd_head__content_title_sub1 {
        font-weight: 700;
        font-size: 44px;
      }

      .rd_head__content_title_sub2 {
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 42px;
      }
    }

    .rd_head__content_desc {
      margin-bottom: 45px;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      text-align: center;
      font-size: 24px;

      .rd_head__content_desc_sub1 {
        font-weight: 700;
        font-size: 24px;
      }

      .rd_head__content_desc_sub2 {
        font-weight: 100;
        font-size: 24px;
      }
    }

    .rd_head__content_buttonWrapper {
      display: flex;
      justify-content: center;

      .rd_head__content_button {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2ecc71;
        border-radius: 50px;
        height: 60px;
        width: 225px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 21px;
        position: relative;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          transition: opacity .35s;
          opacity: 0;
          border-radius: inherit;
          background: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(255, 255, 255, 1) 100%);
        }

        &:hover {
          &:before {
            opacity: 0.2 !important;
          }
        }
      }
    }

  }
}

.rd_allInOne {
  background-color: #ffffff;
  padding-top: 60px;
  display: flex;
  //max-width: 1920px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  //width: 100%;
  //min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1114px;
  margin: 0 auto;
  width: 83%;

  .rd_allInOne_title {
    margin-bottom: 60px;
    line-height: 1.25;
    color: #383838;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;

  }

  .rd_allInOne_blocks {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .rd_allInOne_block {
      width: 259px;
      padding: 0 13px;

      .rd_allInOne_block_img {
        height: 145px;
        padding-top: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .rd_allInOne_block_desc {
        margin-top: 38px;
        color: #6c6c6c;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        //text-align: center;
        font-size: 17px;
      }
    }
  }
}

.rd_tools {
  padding-top: 60px;
  max-width: 1114px;
  margin: 0 auto;
  width: 83%;

  .rd_tools_title {
    //margin-bottom: 60px;
    line-height: 1.25;
    color: #383838;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    width: 100%;

  }

  .rd_tools_blocks {
    .rd_tools_block {
      width: 33.33333%;
      padding: 0 13px;
      display: inline-block;
      cursor: pointer;
      &:hover{
        .rd_tools_listLink{
          border-bottom: 1px transparent;
        }
      }
      .rd_tools_block_img {
        height: 200px;
        display: flex;
        justify-content: center;

        img {
          height: 100%;
          margin: 0 auto;
        }
      }

      .rd_tools_blockTitle {
        //margin-bottom: 45px;
        margin-top: 38px;
        color: #6c6c6c;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .rd_tools_block_desc {
        color: #6c6c6c;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 20px;
      }

      .rd_tools_listTitle {
        margin-top: 38px;
        color: #6c6c6c;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 17px;
      }

      .rd_tools_listItem {
        margin-top: 5px;
        color: #6c6c6c;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 18px;
      }

      .rd_tools_listLink {
        margin-top: 5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 19px;
        //text-decoration: underline;
        display: inline-block;
        border-bottom: 1px solid;
        cursor: pointer;
        color: #245AB4;
        transition: all 0.7s ease;

        //&:hover {
        //  border-bottom: 1px transparent;
        //}
      }
    }
  }
}

.rd_about {
  padding-top: 120px;
  padding-bottom: 20px;
  max-width: 734px;
  margin: 0 auto;
  width: 83.333333%;
  position: relative;
  z-index: 1;

  .rd_about_based {
    font-weight: 700;
    color: rgb(110, 110, 110);
    font-size: 32px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  .rd_about_link {
    margin-top: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 18px;
    font-size: 17px;

    a {
      transition: all 0.7s ease;
      color: #6c6c6c;
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px solid;
      &:hover {
        border-bottom: 1px transparent;
      }
    }
  }

  .rd_about_gdpr {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    //margin-top: 63px;
    margin-top: 40px;
    color: #6c6c6c;
  }

  .rd_about_contact {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    font-size: 17px;
    color: #6c6c6c;
    margin-bottom: 50px;
  }
}

.rd_companies {
  background-position: top;
  background-size: cover;
  height: 455px;
  padding-top: 110px;
  //background-position: 50% 50%;
  background-repeat: no-repeat;

  .rd_companies_cont {
    max-width: 1114px;
    margin: 0 auto;
    width: 83.333333%;
    position: relative;
    z-index: 1;

    .rd_companies_title {
      display: block;
      text-align: center;
      max-width: 734px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      color: rgb(255, 255, 255);
      font-weight: 700;
      font-size: 26px;
    }

    .rd_companies_img {
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 100%;
      position: relative;

      img {
        //opacity: 0;
        max-width: 100%;
        width: 100%;
        transition: opacity .5s;
      }
    }
  }
}

//.cont{
//  max-width: 1114px;
//  margin: 0 auto;
//  width: 83.333333%;
//  position: relative;
//  z-index: 1;
//}

.rd_demoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  max-width: 734px;
  margin: 0 auto;
  width: 83.333333%;
  position: relative;
  z-index: 1;

  .rd_head__content_button {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ecc71;
    border-radius: 50px;
    height: 60px;
    width: 225px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transition: opacity .35s;
      opacity: 0;
      border-radius: inherit;
      background: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(255, 255, 255, 1) 100%);
    }

    &:hover {
      &:before {
        opacity: 0.2 !important;
      }
    }
  }
}

.rd_productDesc {
  padding-bottom: 10px;
  padding-top: 30px;
  //min-height: 395px;

  .rd_productDesc_wrapper {
    max-width: 1114px;
    margin: 0 auto;
    width: 83.333333%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 1114px;
    display: flex;
    justify-content: center;
    align-items: center;

    .rd_productDesc_blockImage {
      line-height: 0;
      font-size: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }

    .rd_productDesc_blockText {
      width: 50%;

      .rd_productDesc_blockText_title {
        font-size: 35px;
        word-break: break-word;
        //margin-bottom: .35em;
        //font-weight: 400;
        margin-bottom: 14px;
        color: #383838;
        font-family: 'Open Sans', sans-serif;
        font-weight: 900;
        color: #383838;
      }

      .rd_productDesc_blockText_desc {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 1.625;
        text-align: left;
        margin-bottom: 29px;
        font-size: 18px;
      }

      .rd_productDesc_blockText_desc2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-align: left;
        font-size: 18px;
        line-height: 1.625;
      }
    }
  }
}

.rightPadding18p {
  padding-right: 18%;
}

.leftPadding18p {
  padding-left: 18%;
}

.bottomPadding40 {
  padding-bottom: 40px;
}


.rd_replies {
  padding-top: 120px;
  padding-bottom: 10px;
  background-position: top;

  .rd_replies_container {
    max-width: 1114px;
    margin: 0 auto;
    width: 83%;
    color: #ffffff;

    .rd_replies_title {
      margin-top: 148px;
      text-align: center;
      max-width: 732px;
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
      position: relative;
      margin-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 40px;
      font-weight: 700;
    }

    .rd_replies_content {
      padding-top: 3px;
      margin: 0 -13px;

      .rd_replies_content_block {
        max-width: 50%;
        width: 50%;
        padding: 0 13px;
        margin-top: 40px;
        display: inline-block;
        vertical-align: top;
        height: auto;
        margin-bottom: 42px;

        .rd_replies_content_block_img {
          padding-top: 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          padding-bottom: 56.39%;
        }

        .rd_replies_content_block_title {
          line-height: 1.68;
          color: rgb(255, 255, 255);
          text-align: center;
          margin-top: 38px;
          margin-bottom: 35px;
          font-family: 'Open Sans', Arial, sans-serif;
          font-weight: bold;
          font-style: normal;
          font-size: 21px;
          height: 75px;
          padding: 0 10px;
        }

        .rd_replies_content_block_text {
          text-align: right;
          font-family: 'Open Sans', sans-serif;
          font-weight: 100;
          font-size: 16px;
        }

        .rd_replies_content_block_comp {
          text-align: right;
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          line-height: 1.625;
        }
      }
    }
  }
}

.rd_footer {
  padding-bottom: 120px;
  padding-top: 90px;
  background: linear-gradient(90deg, #6898FF 0%, #A0D7FF 100%);

  .rd_footer_cont {
    max-width: 734px;
    margin: 0 auto;
    width: 83.333333%;
    position: relative;
    z-index: 1;

    .rd_footer_phone {
      text-align: center;
      color: rgb(255, 255, 255);
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-style: normal;
      line-height: 1.65;
      font-size: 26px;
    }

    .rd_footer_email {
      font-size: 26px;
      text-align: center;
      color: rgb(255, 255, 255);
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-style: normal;
      line-height: 1.65;
      margin-top: 20px;
      margin-bottom: 82px;
    }

    .rd_footer_buttonWrapper {
      display: flex;
      justify-content: center;

      .rd_footer_button {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2ecc71;
        border-radius: 50px;
        height: 60px;
        width: 225px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 21px;
        position: relative;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          transition: opacity .35s;
          opacity: 0;
          border-radius: inherit;
          background: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(255, 255, 255, 1) 100%);
        }

        &:hover {
          &:before {
            opacity: 0.2 !important;
          }
        }
      }
    }
  }
}


body{
  opacity: 0;
  transition: opacity 0.7s ease-in;
}
body.load{
  opacity: 1;
}
